* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  background: #2c1c40ef;
 
}

input{
  color: #000000;
}

.icon-mobile-menu {
  display: none;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 730px) {

   
  .menu ul li {
    display: none;
  }

  .container-mobile{
    display: flex;
    justify-content: flex-end;
    
  }

  .menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    padding-top: 70px;
    margin-top: 10px;

  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
  }

  .icon-mobile-menu {
    display: block;
    margin-left: 200px;
  }

  .icon-mobile-menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .icon-mobile-menu button img {
    width: 38px;
  }

  .open {
    display: none;
  }
}

.container-home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container-home header {
  margin-top: 80px;
}
.container-sobre {
  width: 50%;
  height: 200px;
  text-align: left;
  display: flex;
  align-items: center;
}
.container-sobre p {
  margin-top: 40px;
  font-size: 1.2rem;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e192c;
  z-index: 1;
  
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  
}
.menu ul a li{
    color: #FFFFFF;
}

.container-imc {
  width: 350px;
  height: 380px;
  box-shadow: rgba(255, 255, 255, 0.993) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.container-title {
  box-shadow: rgba(255, 255, 255, 0.993) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-altura input {
  width: 180px;
  height: 40px;
}

.container-peso input {
  width: 180px;
  height: 40px;
}

.container-button button {
  height: 40px;
  width: 140px;
  margin-bottom: 20px;
  box-shadow: rgba(255, 255, 255, 0.993) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
 
  
}

.container-tabela {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: left;
}
.tabela-title {
  width: 400px;
}
.tabela-artigo {
  width: 50%;
}

table {
  width: 80%px;
}

table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.993) ;
  border-collapse: collapse;
}

thead {
  height: 50px;
  background: rgba(226, 226, 93, 0.973);
}

tr {
  height: 40px;
}

td {
  text-align: center;
}

ul {
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}

footer{
    border: solid 1px black;
    height: 150px;
    margin-top: 20px;
    background: #626970;
}

/*Celulares*/
@media (max-width: 450px) {
  .menu {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 226, 25);
  }

  .container-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    width: 100%;
    margin-top: 40px;
    font-size: 0.9rem;
    text-align: center;
  }
  .container-home header {
    width: 80%;
  }

  .container-h2 {
    height: 40px;
    text-align: center;
    margin-bottom: 80px;
  }

  .container-sobre {
    width: 80%;
  }

  .container {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-calculadora {
    width: 80%;
  }
  .container-imc {
    width: 80%;
  }
  .tabela-title {
    width: 80%;
  }
  table {
    width: 80%;
  }

  .tabela-artigo {
    width: 80%;
  }
 
}

@media (min-width: 451px) and (max-width: 767px) {



}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1024) {
}

/*Orientação horizontal*/

@media (orientation: landscape) {
  .container-home {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-sobre {
    width: 50%;
  }

  .container {
    height: 580px;
    margin: solid 1px black;
  }

  .title-calculadora {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}


.verde{
    background: rgba(0, 128, 0, 0.568);
}
.laranja{
    background-color: orange;
}
.vermelho{
    background: red;
}


.botao{
    appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.botao:disabled {
    pointer-events: none;
  }
  
  .botao:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .botao:active {
    box-shadow: none;
    transform: translateY(0);
  }
  

.contato{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

  .logo{
    border: solid white 1px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }